<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EJS Demo</title>
  </head>
  <body>
    <%- include("./partials/header") %>

    <h2>EJS works!</h2>
  </body>
</html>
