html 
    head
        title Awesome View Engine 
    body
        .container 
            h1 Awesome App
            p #{user.name.toUpperCase()}
            if isAuthenticated
                p User is Authenticated
            else 
                p User is NOT Authenticated
            if friends.length > 0
                ul 
                    each friend in friends
                        li #{friend}
            else 
                p User has no friends