<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EJS - Users</title>
  </head>
  <body>
    <%- include("./partials/header") %>
    <h1><%= user.name %></h1>
    <% if (friends.length > 0) { %>
    <ul>
      <% friends.forEach(friend => { %>
      <li><%= friend %></li>
      <% }) %>
    </ul>
    <% } else { %>
    <p>No friends</p>
    <% } %>
  </body>
</html>
